.navbar {
    background-color: rgba(255, 255, 255, 0.95);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
}
.nav-logo {
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
}
.account {
    position: absolute;
    right: 8%;
    width: 10%;
}
.imgAccount {
    height: auto;
    width: 25px;
    border-radius: 25px;
    margin-right: 10px;
}
.account::after {
    content: "";
    padding-left: 10px;
    transform: translateY(-50%);
    border-right: 3px solid #e9e9e9;
    margin-right: -10px;
}
.p {
    display: inline-block;
    font-weight: 12px;
    font-size: 1.2rem;
    color: grey;
}
.location {
    margin-top: -1%;
}
.border {
    border: none;
}
.nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
}
.nav-links {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
}
.nav-links:hover {
    color: #fb4226;
}
.nav-item {
    line-height: 40px;
    margin-right: 1rem;
}

.nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
}
.nav-item:hover:after {
    width: 100%;
    background: #fb4226;
}
.nav-icon {
    display: none;
}
@media screen and (max-width: 960px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-top: 1pxsolid #fff;
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #1f5156;
        left: 0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav-item .active {
        color: #ffdd40;
        border: none;
    }
    .nav-links {
        padding: 1.5rem;
        width: 100%;
        display: table;
        transition: 5s;
    }

    .nav-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #ffdd40;
    }
    .account,
    .location {
        display: flex;
        justify-content: center;
        margin-right: 10%;
    }
}
.account:hover .logout_btn{
    display: block;
}

.logout_btn{
    position: absolute;
    transform: translate(36%, 21%);
    background-color: #959595;
    border-radius: 4px;
    color: #fff;
    display: none;
}

.logout_btn a{
    padding: 10px;
    transition: background-color .2s ease;
    border-radius: 4px;
}
