.navbarHeader{
    position: fixed;
    top: -1px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(255,255,255,.95);
    box-shadow: 0 0 15px rgb(0 0 0 / 30%);
    z-index: 9;
    transition: all .2s;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: brown;
}
.account{
    position: absolute;
    top: 25%;
    left: 45%;
    
}
.imgAccount{
    height: auto;
    width: 25px;
    border-radius: 25px;
    margin-right: 10px;
}
.p{
    display: inline-block;
    font-weight: 12px;
    font-size: 15px;
    color: grey;
}
.account::after{
    content: '';
    position: absolute;
    right: 0;
    height: 30px;
    top: 38%;
    transform: translateY(-50%);
    border-right: 3px solid #e9e9e9;
    margin-right: -10px;
}
.location{
    position: absolute;
    top: 25%;
    left: 70%;
}
.border{
    border: none;
}