.bgCOut {
    overflow: hidden;
    background-color: #000000;
    background-image: linear-gradient(147deg, #535151 0%, #645454 74%);
    width: 100%;
    height: 1000px;
}
.ghe {
    width: 35px;
    height: 35px;
    margin: 15px;
    background-color: rgb(125, 120, 120);
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-align: center;
}
.gheDaDat {
    background-color: rgb(225, 67, 67) !important;
    cursor: no-drop;
}

.gheVip {
    background-color: rgb(255, 165, 0);
}

.gheDangDat {
    background-color: rgb(10, 195, 10);
}

.gheMinhDat {
    color: orange !important;
    background-color: papayawhip !important;
}
@media screen and (max-width: 1024px) {
    .bgCOut{
        height: 1100px;
    }
    .screenCine{
        width: 570px;
    }
    .inForFilm {
        padding-top: 40px;
    }
    .listSeat {
        
    }
    .ghe {
        width: 27px;
        height: 25px;
        margin: 5px;
    }
}
@media screen and (max-width: 540px) {
    .bgCOut{
        height: 120%;
    }
    .screenCine{
        width: 505px;
    }
    .inForFilm {
        min-width: 100%;
    }
    .listSeat {
        max-width: 100%;
    }
    .ghe {
        width: 47px;
        height: 35px;
        margin: 5px;
    }
}

@media screen and (max-width: 414px) {
    .bgCOut{
        height: 120%;
    }
    .screenCine{
        width: 380px;
    }
    .inForFilm {
        min-width: 100%;
    }
    .listSeat {
        max-width: 100%;
    }
    .ghe {
        width: 33px;
        height: 25px;
        margin: 5px;
    }
}
@media screen and (max-width: 375px) {
    .bgCOut{
        height: 120%;
    }
    .screenCine{
        width: 330px;
    }
    .inForFilm {
        min-width: 100%;
    }
    .listSeat {
        max-width: 100%;
    }
    .ghe {
        width: 27px;
        height: 25px;
        margin: 5px;
    }
}
@media screen and (max-width: 320px) {
    .bgCOut{
        height: 120%;
    }
    .screenCine{
        width: 250px;
    }
    .inForFilm {
        min-width: 100%;
    }
    .listSeat {
        max-width: 100%;
    }
    .ghe {
        width: 20px;
        height: 20px;
        margin: 5px;
        font-size: 12px;
    }
}
