.homeMenu .ant-tabs-tabpane{
    padding-left: 0 !important;
}

.homeMenu .homeMenu_movie .ant-tabs-tabpane{
    padding-left:24px !important;
}

.homeMenu .homeMenu_movie .ant-tabs-nav-wrap{
    width: 400px;
}

.homeMenu .ant-tabs-tab{
    opacity: 0.5;
}

.homeMenu .ant-tabs-tab-active{
    opacity: 1;
}