.homeMenu .ant-tabs-tabpane{
    padding-left: 0 !important;
}

.homeMenu .homeMenu_movie .ant-tabs-tabpane{
    padding-left:24px !important;
}

.homeMenu .homeMenu_movie .ant-tabs-nav-wrap{
    width: 400px;
}

.homeMenu .ant-tabs-tab{
    opacity: 0.5;
}

.homeMenu .ant-tabs-tab-active{
    opacity: 1;
}
    .heThongImg img{
    width: 50px;
}   .rapImg img {
    width: 50px;
    height: 50px;
    margin: .5rem 0;
}
    .lichChieuPhim{
    gap: 10px;
}
    .lichChieuPhim a{
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .heThongImg img{
        width: 30px;
    }
    .homeMenu .homeMenu_movie .ant-tabs-nav-wrap{
        width: 300px;
    }
    .phim h3{
        font-size: 25px;
    }
    .lichChieuPhim a{
        font-size: 18px;
    }
}

@media screen and (max-width: 520px) {
    .homeMenu_movie .ant-tabs-nav{
        display: none !important;
    }
    .lichChieuPhim{
        gap: 6px;
    }
    .lichChieuPhim a{
        font-size: 15px;
    }
}