.popup{
    position: fixed;
    top: 89px;
    left: 170px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
}
.popup .close-btn{
    position:absolute;
    top: -14px;
    right: 6px;
}