/* ANT DESIGN  */
.ant-layout-header .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.ant-layout-header .trigger:hover {
  color: #1890ff;
}

.ant-layout-sider-children .logo {
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.site-layout .userFunction {
  top: 22%;
  right: 0%;
}

.site-layout .userFunction img{
  width: 35px;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: -2px;
}

.site-layout .userFunction ul{
  margin-top: -13px;
}

.ant-menu-submenu-placement-bottomLeft{
  left: 1263px !important;
}

.adminTemplate .ant-layout-sider{
  background: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
}

.adminTemplate .ant-layout-sider-children ul, 
.adminTemplate .ant-layout, 
.adminTemplate .ant-layout header,
.adminTemplate .ant-layout main{
  background: rgba(255, 255, 255, 0.2);
}

.adminTemplate .ant-layout-sider-children .ant-menu-item-selected{
  background-color: rgb(86, 20, 169) !important;
}

.site-layout .userFunction .ant-menu-submenu:hover{
  color: rgb(86, 20, 169) !important;
}

.site-layout .userFunction .ant-menu-submenu:hover::after{
  border-bottom: 2px solid rgb(86, 20, 169) !important;
}

.adminTemplate .ant-layout{
  border-left: solid 1px rgba(255, 255, 255, 0.3);
}

.adminTemplate .ant-layout header ul{
  background: inherit;
  border-bottom: 0;
}

.adminTemplate .ant-layout main{
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px;
}

.adminTemplate .ant-layout-header .trigger:hover{
  color: rgb(86, 20, 169);
}

.adminTemplate .ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover{
  color: rgb(86, 20, 169) !important;
}

/* BACKGROUND */
.adminTemplate{
  /* position: relative; */
  background: linear-gradient( 135deg, #fc00ff, #00dbde);
  background-image: linear-gradient( 150deg, #5a00ff 0%, #ff1ff7 100%, #ff1ff7 100%);
  width: 100%;
  height: 100%;
}

/* RESPONSIVE  */
@media screen and (max-width: 575px) {
  /* NAVBAR */
  .adminTemplate .ant-layout-sider{
    flex: 0 0 80px !important;
    max-width: 80px !important;
    min-width: 80px !important;
    width: 80px !important;
  }

  .adminTemplate .ant-menu-dark .ant-menu-item {
    padding: 0 calc(50% - 16px / 2);
    text-overflow: clip;
    padding-left: 30px !important;
  }

  .adminTemplate .ant-layout-sider-children .ant-menu-dark .ant-menu-item span{
    font-size: 16px !important;
    line-height: 40px !important;
  }

  .adminTemplate .ant-layout .site-layout .anticon-menu-fold, .adminTemplate .ant-layout .site-layout .anticon-menu-unfold{
    display: none;
  }

  /* CONTENT  */
  .adminTemplate .ant-layout main{
    margin: 11px 9px !important;
    padding: 10px !important;
  }
}

@media screen and (max-width: 385px) {
  .adminTemplate .userFunction h4{
    padding-top: 0.4rem;
    font-size: 18px;
  }
}