.container {
    overflow: hidden;
}
.detailGlass {
    color: #ecf0f1;
    border-radius: 8px;
    padding-left: 20px;
    background: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}
.backMenu {
    color: white;
    font-size: 24px;
    margin-top: 10px;
    position: absolute;
    letter-spacing: 3px;
}
.backMenu::after{
    content: "";
    padding-left: 10px;
    transform: translateY(-50%);
    border-right: 3px solid #e9e9e9;
    margin-right: -10px;
}
.filmTitle {
    color: white;
    margin-left: 160px;
    margin-top: 9px;
}
.infoFilm {
    font-size: 20px;
    list-style: none;
}
.detailBottom {
    color: #ecf0f1;
    background: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    margin-top: 100px;
    position: relative;
    display: none;
}
.activeDetail {
    display: block;
}
.titleIF {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.tabs {
    cursor: pointer;
    margin-right: 20px;
    transition: all 0.2s;
}
.tabs:hover {
    transform: translateY(-10px);
}
.active-tabs {
    color: #fb4226;
}

@media screen and (max-width: 1199px) {
    .infoFilm {
        display: none;
    }
}
@media screen and (max-width: 1024px) {
    .infoFilm {
        display: none;
    }
}
@media screen and (max-width: 540px) {
    .rateCircle,
    .topDetail {
        display: none !important;
    }
    .imgPoster {
        margin-left: 90px !important;
    }
}
@media screen and (max-width: 488px) {
    .rateCircle,
    .topDetail {
        display: none !important;
    }
    .imgPoster {
        margin-left: 10px !important;
    }
}
