/* CAROUSEL  */
#carouselTix .carousel__content img{
    height: 660px;
}

#carouselTix .carousel-indicators{
    bottom: 90px;
}

#carouselTix .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d8d8d8;
}

#carouselTix .carousel-indicators .active {
    background-color: #fb4226;
}

#carouselTix .carousel-control-prev-icon{
    background-image: url("https://cdn-user-icons.flaticon.com/16035/16035505/1651833850965.svg?token=exp=1651834759~hmac=7f361469ba63a4245956349c242c1c57");  
}

#carouselTix .carousel-control-next-icon{
    background-image: url("https://cdn-user-icons.flaticon.com/16035/16035505/1651833949547.svg?token=exp=1651834857~hmac=53ac6c09f6d556b3db6821a72a88c668");
}

#carouselTix .carousel-control-next-icon, .carousel-control-prev-icon{
    width: 50px;
    height: 50px;
}

#carouselTix .carousel-control-prev{
    justify-content: normal;
    padding-left: 10px;
}

#carouselTix .carousel-control-next{
    justify-content: flex-end;
    padding-right: 10px;
}

#carouselTix .carousel-control-next, .carousel-control-prev{
    width: 5%; 
}

#carouselTix .carousel-button-play{
    position: absolute;
    top: 50%;
    left: 0%;
    color: white;
    width: 100%;
    text-align: center;
    opacity: 0;
    transform: translateY(-50%) scale(1);
} 

#carouselTix .carousel__content:hover .carousel-button-play{
    opacity: 1;
} 

#carouselTix .carousel-button-play i{
    width: 80px;
    height: 80px;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: #00000040;
    /* margin: 15px auto; */
    line-height: 80px;
    /* display: block; */
}

/* FILTER MOVIE  */
.filterMovie{
    height: 80px;
    width: 100%;
    border: 1px solid #0000001a;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    padding-left: 0;
    transform: translate(18%, -50%);
}

.dropdown-toggle::after{
    border-top: 0;
}

.dropdown-toggle{
    background-image: url("https://tix.vn/app/assets/img/icons/dropdown-icon.png");
    background-repeat: no-repeat;
    background-position: right;
}

.filterMovie .filterMovie_item{
    margin: 20px 0;
    border-right: 1px solid #0000001a;
}

.filterMovie .filterMovie_item button{
    margin-right: 5px;    
}

.filterMovie .filterMovie_item .btnFilter_Movie{
    padding-right: 14rem;    
}

.filterMovie .filterMovie_item .btnFilter{
    padding-right: 9rem;    
}

.filterMovie .btn_buyTicket{
    background-color: #4a4a4a;  
}

.filterMovie .btnFilter_Buy{
    margin: 20px 5px;
}

/* RECOMMEND MOVIE  */
.recommendMovie{
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-family: 'SF Medium';
}
/* RECOMMEND MOVIE BUTTON */
.recommendMovie .btn_recommnendMovie .active{
    color: #fa5238;
    font-size: 24px;
}

.recommendMovie .btn_recommnendMovie .active:hover{
    color: #fa5238;
}

.recommendMovie .btn_recommnendMovie .inactive{
    font-size: 20px;
}

.recommendMovie .btn_recommnendMovie .inactive:hover{
    font-size: 24px;
}

.recommendMovie .btn_recommnendMovie a{
    font-weight: 600;
    transition: all .2s;
}


/* RECOMMEND MOVIE ITEM */
.recommendMovie .recommendMovie_item{
    color: black;
}

.recommendMovie .recommendMovie_item .movie-name{
    font-size: 16px;
}

.recommendMovie_item .movie-img img{
    height: 300px;
    width: 210px;
}

.recommendMovie_item .movie-img .movie-rate{
    transform: translate(9rem,-18rem);
    z-index: 1;
    background-color: rgba(12,27,54,.8);
    width: 3.8rem;
    height: 2.6rem;
    line-height: 1.1;
}

.recommendMovie_item .movie-img .movie-rate .txtPoint{
    transform: scaleY(1.3);
    font-size: 16px;
}

.recommendMovie_item .movie-img .movie-rate .movie-start{
    color: #fa5238;
    font-size: 10px;
}

.recommendMovie .movie-img .movie-overlay{
    position: absolute;
    top: 0;
    width: 79%;
    height: 100%;
    left: 7px;
    background: linear-gradient(to top, black, transparent);
}

.recommendMovie .movie-img .movie-play, .movie-overlay{
    opacity: 0;
    transition: all 0.2s;
}

.recommendMovie .movie-img:hover .movie-overlay, .movie-img:hover .movie-play{
    opacity: 1;
}

.recommendMovie .movie-img .movie-play {
   position: absolute;
   top: 45%;
   /* transform: translateY(-50%); */
   width: 73%;
}

.recommendMovie .movie-img .movie-play i{
    width: 50px;
    height: 50px;
    line-height: 45px;
}

/* POPUP TRAILER  */
.recommendMovie_item .popup{
    transform: scale(0.8);
    top: 25%;
    left: 10%;
}

.recommendMovie_item .popup .close-btn{
    transform: scale(2.5);
    color: white;
    top: 9px;
}

/* CAROUSEL MOVIE */
.recommendMovie_item .bhRnqO , .recommendMovie_item .kVtMtA{
    top: calc(50% - 38.5px);
    box-shadow: inherit;
}

.recommendMovie_item .bhRnqO::before, .recommendMovie_item .kVtMtA::before{
    height: 34px;
    width: 34px;
    border-top: 2px solid #c8c8c8;
    border-right: 2px solid #c8c8c8;
}

.recommendMovie_item .bhRnqO{
    right: -14px;
}

.recommendMovie_item .kVtMtA{
    left: -13px;
}

/* RESPONSIVE  */
@media screen and (max-width: 1024px) {
    .filterMovie{
        transform: translate(3.5%, -50%);
    }
    
    .recommendMovie_item .bhRnqO{
        right: 60px;
    }
}

@media screen and (min-width: 521px) and (max-width: 768px) {
    /* CAROUSEL MOVIE  */
    .jSLnSZ{
        grid-template-columns: repeat(7,40%) !important;
        grid-column-gap: calc(126% + 0px) !important;
    }

    .ccDPGy{
        grid-template-columns: repeat(9,42%) !important;
        grid-column-gap: calc(129% + 0px) !important;
    }
}

@media screen and (max-width: 768px) {
    /* CAROUSEL BANNER  */
    #carouselTix .carousel__content img{
        height: 323px;
    }

    /* CAROUSEL MOVIE  */
   .recommendMovie_item .bhRnqO{
        right: 90px;
    }
    .jSLnSZ{
        grid-template-columns: repeat(7,40%) !important;
        grid-column-gap: calc(126% + 0px) !important;
    }

    .ccDPGy{
        grid-template-columns: repeat(9,42%) !important;
        grid-column-gap: calc(129% + 0px) !important;
    }

    /* FILTER MOVIE  */
    .filterMovie{
        display: none !important;
    }
}

@media screen and (max-width: 520px) {
    /* CAROUSEL MOVIE  */
    .jSLnSZ{
        grid-template-columns: repeat(7,79%) !important;
        grid-column-gap: calc(126% + 394px) !important;
    }

    .ccDPGy{
        grid-template-columns: repeat(9,71%) !important;
        grid-column-gap: calc(129% + 57px) !important;
    }
}