.registerBG {
  overflow: hidden;
  background: linear-gradient(135deg, #00c3ff, #eeef1c);
  background: linear-gradient(135deg, #fc00ff, #00dbde);
  background-image: linear-gradient(135deg, #ff00ba 0%, #fae713 100%);
  background-image: linear-gradient(150deg, #5a00ff 0%, #ff1ff7 100%, #ff1ff7 100%);
  width: 100%;
  height: 783px;
}
.circleTop{
   width: 200px;
   height: 200px;
    background-color: rgba(204, 82, 25, 0.5);
    border-radius: 50%;
    position: absolute;
    left: 400px;
    top: 30px;
    animation: animate 5s linear infinite;
    animation-delay: calc(-1s*var(--i));
}
@keyframes animate{
  0%,100%
  {
    transform: translateY(-25px);
  }
  50%
  {
    transform: translateY(40px);
  }
}
.circleBot{
    width: 150px;
    height: 150px;
    background-color: rgba(80, 31, 218, 0.5);
    border-radius: 50%;
    position: absolute;
    right: 370px;
    top: 550px;
    animation: animate 5s linear infinite;
}
.registerGlass .input-field input {
  background-color: inherit;
}
.registerGlass .input-field input::placeholder {
  color: #eee
}
.registerGlass {
  color: #ecf0f1;
  border-radius: 20px;
  padding: 50px 100px;
  background: rgba(255, 255, 255, 0.2);
  border: solid 1px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
  position: absolute;
  top: 15%;
  left: 35%;
}
.btn {
  border-radius: 10px;
}
