.registerGlass .input-field input {
  background-color: inherit;
}
.registerGlass .input-field input::placeholder {
  color: #eee;
}
.registerGlass {
  color: #ecf0f1;
  border-radius: 20px;
  padding: 50px 100px;
  background: rgba(255, 255, 255, 0.2);
  border: solid 1px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
  position: absolute;
  top: 15%;
  left: 35%;
}
.btn {
  border-radius: 10px;
}

.registerGlass .btn-question a{
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .registerGlass {
   left: 26%;
   top: 27%;
   transform: scale(1.5);
  }
}

@media screen and (min-width: 769px) and (max-width:815px) {
  .registerGlass{
    left: 19%;
    top: 27%;
  }
}

@media screen and (max-width: 768px) {
  .registerGlass {
    left: 19%;
    top: 20%;
  }
}

@media screen and (max-width: 745px) {
  .registerGlass{
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0;
    border-radius: 0;
    transform: none;
  }

  .registerGlass form{
    transform: translateY(23%);
    padding: 0px 60px;
  }
}

@media screen and (max-width: 320px) {
  .registerGlass form{
    transform: translateY(6%);
  }
}
